---
import Card from '../components/Card.astro';

---

<h1>Welcome to Astro!</h1>
<Card question="How satisfied are you with our service?" max={100} min={0} step={1} value={50} />
<Card question="How likely are you to recommend us?" max={100} min={0} step={1} value={50} />
<Card question="How easy was it to use our website?" max={100} min={0} step={1} value={50} />